absl-py 
aiohttp 
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
biopython==1.79
bleach==3.3.1
blinker==1.4
boto3==1.19.2
botocore==1.22.2
brotlipy==0.7.0
cachetools 
certifi==2021.5.30
cffi 
chardet 
charset-normalizer 
clang==5.0
click 
coverage 
cryptography 
Cython 
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
entrypoints==0.3
filelock==3.3.1
flatbuffers==1.12
gast==0.3.3
google-auth 
google-auth-oauthlib 
google-pasta 
grpcio==1.32.0
h5py==2.10.0
huggingface-hub==0.0.19
idna 
importlib-metadata 
ipykernel==6.0.3
ipython==7.26.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
keras==2.6.0
Keras-Preprocessing 
lmdb==1.2.1
lxml==4.6.3
Markdown 
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
mistune==0.8.4
mkl-fft
mkl-random 
mkl-service==2.4.0
multidict 
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
notebook==6.4.0
numpy==1.19.5
oauthlib 
opt-einsum 
packaging==21.0
pandas==1.3.3
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protein-bert==1.0.1
protobuf==3.17.2
ptyprocess==0.7.0
pyasn1 
pyasn1-modules==0.2.8
pycparser 
pyfaidx==0.6.2
Pygments==2.9.0
PyJWT 
pyOpenSSL 
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks 
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
pyzmq==22.1.0
regex==2021.10.21
requests 
requests-oauthlib==1.3.0
rsa 
s3transfer==0.5.0
sacremoses==0.0.46
scikit-learn==1.0
scipy 
Send2Trash==1.7.1
six==1.15.0
sklearn==0.0
tape-proteins==0.5
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.6.0
tensorboardX==2.4
tensorflow 
tensorflow-addons==0.14.0
tensorflow-estimator==2.4.0
tensorflow-gpu==2.6.0
tensorflow-hub==0.12.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
threadpoolctl==2.2.0
tokenizers==0.10.3
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
transformers==4.11.3
typeguard==2.13.0
typing-extensions==3.7.4.3
urllib3 
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug 
wrapt 
yarl 
zipp 
